<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="School Management App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Entry point -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dashboards -->
        <activity android:name=".activities.AdminDashboardActivity" android:exported="true" />
        <activity android:name=".activities.StudentDashboardActivity" android:exported="true" />

        <!-- Registration -->
      

        <!-- Notices -->
        <activity android:name=".activities.NoticeActivity" android:exported="true" />
        <activity android:name=".activities.ViewNoticesActivity" android:exported="true" />

        <!-- Queries -->
        <activity android:name=".activities.SubmitQueryActivity" android:exported="true" />
        <activity android:name=".activities.ViewMyQueriesActivity" android:exported="true" />
        <activity android:name=".activities.RespondToQueryActivity" android:exported="true" />
        <activity android:name=".activities.AdminViewQueriesActivity" android:exported="true" />

        <!-- Database & Admin Tools -->
        <!-- <activity android:name=".activities.ViewDatabaseActivity" android:exported="true" /> -->
        <activity android:name=".activities.EditAdminActivity" android:exported="true" />
        <activity android:name=".activities.EditStudentActivity" android:exported="true" />

        <!-- Optional viewer -->
        <activity android:name=".activities.DatabaseViewerActivity" android:exported="true" />

        <activity android:name=".activities.ManageClassesActivity" android:exported="true" />
        <activity android:name=".activities.ManageSectionsActivity" />
        <activity android:name=".activities.ManageStudentsActivity" />
        <activity android:name=".activities.ViewStudentDetailsActivity" />
        <activity android:name=".activities.ViewStudentNoticesActivity" />
        <activity android:name=".activities.ViewStudentPendingQueriesActivity" />
        <activity android:name=".activities.ViewStudentRespondedQueriesActivity" />
        <activity android:name=".activities.AdminLeaveReviewActivity" />
<activity android:name=".activities.StudentLeaveListActivity" />
<activity android:name=".activities.LeaveApplicationFormActivity" />
<activity android:name=".activities.UpdateAttendanceActivity" />
<activity android:name=".activities.ViewAttendanceActivity" />




    

        
        


    </application>

</manifest>


