<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>


    <application
        android:allowBackup="true"
        android:label="School Management App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        
         <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.stuadminlogin.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.AdminDashboardActivity" android:exported="true" />
        <activity android:name=".activities.StudentDashboardActivity" android:exported="true" />

        <activity android:name=".activities.NoticeActivity" android:exported="true" />
        <activity android:name=".activities.ViewNoticesActivity" android:exported="true" />

        <activity android:name=".activities.SubmitQueryActivity" android:exported="true" />
        <activity android:name=".activities.ViewMyQueriesActivity" android:exported="true" />
        <activity android:name=".activities.RespondToQueryActivity" android:exported="true" />
        <activity android:name=".activities.AdminViewQueriesActivity" android:exported="true" />

        <activity android:name=".activities.EditAdminActivity" android:exported="true" />
        <activity android:name=".activities.EditStudentActivity" android:exported="true" />

        <activity android:name=".activities.DatabaseViewerActivity" android:exported="true" />

        <activity android:name=".activities.ManageClassesActivity" android:exported="true" />
        <activity android:name=".activities.ManageSectionsActivity" />
        <activity android:name=".activities.ManageStudentsActivity" />
        <activity android:name=".activities.ViewStudentDetailsActivity" />


        <activity android:name=".activities.ViewStudentNoticesActivity" />
        <activity android:name=".activities.ViewStudentPendingQueriesActivity" />
        <activity android:name=".activities.ViewStudentRespondedQueriesActivity" />


        <activity android:name=".activities.AdminLeaveReviewActivity" />
        <activity android:name=".activities.StudentLeaveListActivity" />
        <activity android:name=".activities.LeaveApplicationFormActivity" />


        <activity android:name=".activities.UpdateAttendanceActivity" />
        <activity android:name=".activities.ViewAttendanceActivity" />


        <activity android:name=".activities.ManageHolidaysActivity" />
        <activity android:name=".activities.ViewHolidaysActivity" />

        <activity android:name=".activities.StudentProfileActivity" />
        <activity android:name=".activities.AdminProfileActivity" />

        <activity android:name=".activities.ViewSectionDetailsActivity" />
        <activity android:name=".activities.BulkUpdateAttendanceActivity" />

        <activity android:name=".activities.AddEditGroupActivity"/>
        <activity android:name=".activities.GroupManagementActivity" />
        <activity android:name=".activities.GroupMembersActivity" />
        <activity android:name=".activities.AddMembersActivity" />


        <activity android:name=".activities.SettingsActivity" />

        <activity android:name=".activities.AboutActivity" />

    </application>

</manifest>